<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="AppBean"
          class="com.example.App">
    </bean>

    <bean id="LockBean"
          class="com.example.Lock">
    </bean>

    <bean id="RandBean"
          class="com.example.Rand">
    </bean>

    <bean id="StateBean"
          class="com.example.State">  <!--Тут он просит добавить аргумент-->
    </bean>

</beans>